[Unit]
Description=LDAP Authentication against *nix password file
After=syslog.target network.target rpcbind.service

[Service]
User=nobody
Group=shadow
#Environment=
Restart=Always
ExecStart=/usr/bin/nodejs /usr/local/lib/node_modules/ldap-passwd/index.js

[Install]
WantedBy=multi-user.target
